
html {
  background-color: black;
  color: gold;
}

#teamForm {
  background-color: rgb(18,36,136);
  color: gold;
  width: 500px;
  font-size: 5vh;
  outline: none;
  border-color: rgb(18,36,136);
  text-align: center;
  text-shadow: 5px 5px #000;
}


#letsplayadjust {
  margin-left: 23%;
  position: relative;
  top: 2em;
}

table {
  height: 100vh;
  background-color: black;
}

table td:hover {
  animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
  0%{     color: gold;    }
  25%{    color: gold; }
  50%{    color: transparent; }
  25%{    color: gold;  }
  100%{   color: gold;    }
}

td {
  height: 12vh;
  width: 16vw;
  border: medium solid black;
  background-color: rgb(18,36,136);
  color: gold;
  text-align: center;
  text-shadow: 5px 5px #000;
}

.categoryTd {
  font-family: 'Merriweather', serif;
  font-size: 2.2vw;
  text-transform: uppercase;
}

.clueTd {
  font-family: 'Public Sans', sans-serif;
  text-decoration: none;
  font-size: 5.5vw;
}

.intro-page,
.form-page,
.clue-page,
.question-page,
.game-over-page{
  height: 100vh;
  background-color: rgb(18,36,136);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 130%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather', serif;
  font-size: 9vh;
  text-shadow: 5px 5px #000;
}

.intro-page {
  height: 100vh;
  font-size: 20vh;
}

.form-page {
  height: 100vh;
}
.clue-page {
  height: 100vh;
  font-size: 9vh;
}
.question-page{
  font-size: 10vh;
}
.game-over-page{
  height: 100vh;
  font-size: 3.5vh;
}

#game-over{
  animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
  0%{     color: gold;    }
  49%{    color: transparent; }
  50%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: gold;    }
}

button {
  display: block;
}

article {
  display: inline-block;
}

.scoreButton:hover {
  color: rgb(218, 197, 196);
  background-color: gray;
}

.scoreDiv {
  margin-left: 0%;
}

#team1Article {
  position: relative;
  margin-right: 100px;
}

#team2Article {
  position: relative;
  margin-left: 100px;
}

button:nth-child(1) {
  position: relative;
  left: 0.25em;
  bottom: 0.25em;
}

#passArticle {
  position: relative;
  bottom: 0.9em;
  right: 0.2em;
}

.green:hover {
  background-color: green;
}

.red:hover {
  background-color: red;
}

.scoreButton {
  background-color: rgb(18,36,136);
  color: gold;
  font-size: 30pt;
  padding: 40px;
  margin: 20px;
  border-radius: 80px;
  outline: none;
  text-shadow: 3px 3px #000;
}

.scoreText {
  font-size: 6vh;
}

li {
  list-style: inside;
  list-style-type: upper-roman;
}
