
html {
  background-color: black;
  color: gold;
}

table {
  height: 100vh;
  background-color: black;
}

td {
  height: 12vh;
  width: 16vw;
  border: medium solid black;
  background-color: rgb(18,36,136);
  color: gold;
  text-align: center;
}

.categoryTd {
  font-family: 'Merriweather', serif;
  font-size: 2.2vw;
  text-transform: uppercase;
}

.clueTd {
  font-family: 'Public Sans', sans-serif;
  text-decoration: none;
  font-size: 5.5vw;
}

.intro-page,
.form-page,
.clue-page,
.question-page,
.game-over-page{
  height: 100vh;
  background-color: rgb(18,36,136);
  text-align: center;
  text-transform: uppercase;
  /* height: 100%; */
  display: flex;
  width: 98.5vw;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
}

/* .intro-page {
}
.form-page {
}
.clue-page {
}
.question-page{
}
.game-over-page{
}
*/