html, body {
  background-color: black;
}

table {
  height: 100vh;
  background-color: black;
}

table td {
  height: 12vh;
  width: 16vw;
  border: medium solid black;
  background-color: rgb(18,36,136);
  text-align: center;
}

.category {
  font-family: 'Merriweather', serif;
  font-size: 2.2vw;
  color: gold;
  text-transform: uppercase;
}

.clue {
  font-family: 'Public Sans', sans-serif;
  color: gold;
  text-decoration: none;
  font-size: 5.5vw;
}
.bigScoreDiv {
  background-color: rgb(18,36,136);
  height: 50%;
  display: flex;
  width: 98.5vw;
  justify-content: center;
  align-items: center;
  font-size: 15vh;
  color: gold;
  text-transform: uppercase;
  text-align: center;
  border: 0;
}
.scoreText {
  background-color: rgb(18,36,136);
  color: gold;
  text-decoration: none;
  font-size: 2.5vw;
  font-family: 'Electrolize', sans-serif;
}

.scoreButton {
  background-color: rgb(18,36,136);
}
.bigClue {
  background-color: rgb(18,36,136);
  height: 100%;
  display: flex;
  width: 98.5vw;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather', serif;
  font-size: 15vh;
  color: gold;
  text-transform: uppercase;
  text-align: center;
  border: 0;
}

.bigQuestion {
  background-color: rgb(18,36,136);
  height: 50%;
  display: flex;
  width: 98.5vw;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather', serif;
  font-size: 15vh;
  color: gold;
  text-transform: uppercase;
  text-align: center;
  border: 0;
}

table td:hover {
  color: rgb(218, 197, 196)
}
